@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  color: #444240;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 27px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

a:hover {
  color: #d4b098;
  text-decoration: none;
}

p {
  padding-bottom: 50px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.logo-span {
  font-family: Playfair Display, serif;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 133.33333%;
  font-weight: 400;
  color: #555248;
}

.site-navigation__item {
  margin-right: 60px;
  display: inline-block;
  font-size: 14px;
  line-height: 114.28571%;
  color: black;
}

.site-navigation__item:last-child {
  margin-right: 0;
}

.site-navigation__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 114.28571%;
  color: black;
}

.user-navigation__item {
  margin-right: 20px;
  display: inline-block;
  font-size: 14px;
}

.user-navigation__item:last-child {
  margin-right: 0;
}

.promo {
  background: url(../img/shadow.png) no-repeat 55%;
}

.promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 95px;
  padding-left: 95px;
}

.promo-text-col {
  padding: 200px 0;
}

.promo-text-col button {
  margin-top: 35px;
}

.promo-img-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 750px;
}

h2 {
  color: #1b1a17;
  font-family: Playfair Display, serif;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  line-height: 43px;
  padding-bottom: 30px;
}

h1 {
  font-family: Playfair Display;
  text-align: left;
  display: block;
  color: #1b1a17;
  margin-bottom: 16px;
  font-size: 45px;
  line-height: 60px;
}

.promo span {
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.promo-text {
  margin-top: 35px;
  color: rgba(27, 26, 23, 0.82);
  font-size: 14px;
  font-weight: 300;
}

.promo-price {
  margin-top: 70px;
  padding-left: 50px;
  display: inline-block;
  width: 50px;
  content: "";
}

.promo-description {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: Prata, serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

.promo-img-text {
  font-family: Prata, serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

.btn {
  display: inline-block;
  padding: 26px 38px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.btn-grey {
  background: #444240;
}

.btn-orange {
  background: #d4b098;
}

.btn:hover {
  background: #f5ba82;
  color: #222120;
}

.btn:active {
  position: relative;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  top: 1px;
  color: black;
  background: #e76f1f;
  border-color: #0f0f0f;
}

.previous {
  height: 20px;
  background-size: 10px 10px;
  padding: 10px;
}

.popular {
  margin-top: 80px;
  margin-bottom: 120px;
}

.popular__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular__title {
  margin: auto;
}

.popular__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 52px;
  margin-right: -35px;
}

.popular__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 35px;
  list-style: none;
  border-radius: 50%;
  border: 0.1em solid #f8ecec;
}

.popular__subtitle {
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(27, 26, 23, 0.82);
  font-family: Playfair Display, serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
}

.popular__price {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(27, 26, 23, 0.82);
  font-family: Prata, serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.popular__link {
  color: #1b1a17;
  font-family: Playfair Display, serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
}

.show-more {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: underline;
  color: #444240;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.banner {
  margin-bottom: 100px;
  background: url("../img/back_banner.png") no-repeat left;
  background-size: 30%;
}

.banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-img-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  padding: 52px 0 52px 80px;
}

.gallery-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.banner-text-col {
  background: url("../img/банер  большой полукруг.png"), url("../img/малый полукруг банер.png");
  width: 570px;
  padding: 140px 125px 135px 70px;
  background-repeat: no-repeat;
  background-position: 120% 120%, bottom 100% left 100%;
}

.news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news-text-col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540 px;
  padding: 140px 70px 150px 0;
}

.news-text-col p {
  width: 470px;
}

.news-img-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 470px;
  margin-right: -10px;
}

.news__img {
  margin-right: 10px;
}

.news__img:first-of-type {
  margin-bottom: 10px;
}

.news .news__link {
  color: #262421;
  font-weight: bold;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 18px;
  list-style: none;
}

.main-footer {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #444240;
}

.main-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-footer-column {
  width: 240px;
}

.main-footer ul {
  padding-top: 15px;
  margin-left: 0;
  padding-left: 0;
}

.main-footer-title {
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 114.28571%;
  padding-top: 10px;
}

.main-footer-link {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  line-height: 14px;
}

.main-watches {
  font-size: 14px;
  line-height: 16px;
}

.contacts-list {
  margin-top: 0;
}

.footer-span {
  font-family: Playfair Display, serif;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 133.33333%;
  font-weight: 400;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */