@import "nullcss.scss";

$fontFamily: "Roboto";
$fontSize: 16;

$minWidth: 320px;
$maxWidth: 1366px;
$maxWidthContainer: 1170px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #ffffff;
$blackColor: #1b1a17;
$accentColor: #444240;
$orangeBtn: #d4b098;

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    color: #444240;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
}

.container {
    width: $maxWidthContainer;
    margin: 0 auto;
}

a {
    &:hover {
        color: $orangeBtn;
        text-decoration: none;
    }
}

p {
    padding-bottom: 50px;
}

.header {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
}

.logo-span {
    font-family: Playfair Display, serif;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 16 / 12 * 100%;
    font-weight: 400;
    color: #555248;
}

.site-navigation {
    &__item {
        margin-right: 60px;
        display: inline-block;
        font-size: 14px;
        line-height: 16 / 14 * 100%;
        color: black;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 16 / 14 * 100%;
        color: black;
    }
}

.user-navigation {
    &__item {
        margin-right: 20px;
        display: inline-block;
        font-size: 14px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.promo {
    background: url(../img/shadow.png) no-repeat 55%;
}

.promo-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-right: 95px;
    padding-left: 95px;
}

.promo-text-col {
    padding: 200px 0;
    button {
        margin-top: 35px;
    }
}

.promo-img-col {
    display: flex;
    justify-content: space-between;
    width: 750px;
}

h2 {
    color: #1b1a17;
    font-family: Playfair Display, serif;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    line-height: 43px;
    padding-bottom: 30px;
}

h1 {
    font-family: Playfair Display;
    text-align: left;
    display: block;
    color: #1b1a17;
    margin-bottom: 16px;
    font-size: 45px;
    line-height: 60px;
}

.promo {
    span {
        font-family: Playfair Display;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
    }
    &-text {
        margin-top: 35px;
        color: rgba(27, 26, 23, 0.82);
        font-size: 14px;
        font-weight: 300;
    }
    &-price {
        margin-top: 70px;
        padding-left: 50px;
        display: inline-block;
        width: 50px;
        content: "";
    }
    &-description {
        align-self: flex-end;
        font-family: Prata, serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: 22px;
    }
    &-img-text {
        font-family: Prata, serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: 22px;
    }
}

.btn {
    display: inline-block;
    padding: 26px 38px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    &-grey {
        background: #444240;
    }
    &-orange {
        background: #d4b098;
    }
    &:hover {
        background: rgb(245, 186, 130);
        color: rgb(34, 33, 32);
    }
    &:active {
        position: relative;
        transform: scale(1.4);
        top: 1px;
        color: black;
        background: #e76f1f;
        border-color: #0f0f0f;
    }
}

.previous {
    height: 20px;
    background-size: 10px 10px;
    padding: 10px;
}

.popular {
    margin-top: 80px;
    margin-bottom: 120px;
    &__header {
        display: flex;
    }
    &__title {
        margin: auto;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 52px;
        margin-right: -35px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-right: 35px;
        list-style: none;
        border-radius: 50%;
        border: 0.1em solid rgb(248, 236, 236);
    }
    &__subtitle {
        margin-bottom: 10px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: rgba(27, 26, 23, 0.82);
        font-family: Playfair Display, serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        line-height: 24px;
    }
    &__price {
        margin-top: 0;
        margin-bottom: 0;
        color: rgba(27, 26, 23, 0.82);
        font-family: Prata, serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        line-height: 16px;
    }
    &__link {
        color: #1b1a17;
        font-family: Playfair Display, serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: 21px;
    }
}

.show-more {
    align-self: flex-end;
    text-decoration: underline;
    color: #444240;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.banner {
    margin-bottom: 100px;
    background: url("../img/back_banner.png") no-repeat left;
    background-size: 30%;
    &-wrapper {
        display: flex;
        justify-content: center;
    }
}

.banner-img-col {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 52px 0 52px 80px;
}

.gallery-button {
    align-self: flex-end;
}

.banner-text-col {
    background: url("../img/банер  большой полукруг.png"), url("../img/малый полукруг банер.png");
    width: 570px;
    padding: 140px 125px 135px 70px;
    background-repeat: no-repeat;
    background-position: 120% 120%, bottom 100% left 100%;
    /////////////////////////
}

.news {
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &-text-col {
        box-sizing: border-box;
        width: 540 px;
        padding: 140px 70px 150px 0;
        p {
            width: 470px;
        }
    }
    &-img-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 470px;
        margin-right: -10px;
    }
    &__img {
        margin-right: 10px;
        &:first-of-type {
            margin-bottom: 10px;
        }
    }
    .news__link {
        color: #262421;
        font-weight: bold;
    }
}

.social {
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__item {
        margin-right: 18px;
        list-style: none;
    }
}

.main {
    &-footer {
        margin-top: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #444240;
        &-wrapper {
            display: flex;
            justify-content: space-around;
        }
        &-column {
            width: 240px;
        }
        ul {
            padding-top: 15px;
            margin-left: 0;
            padding-left: 0;
        }
        &-title {
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #ffffff;
            font-family: Roboto;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            line-height: 16 / 14 * 100%;
            padding-top: 10px;
        }
        &-link {
            margin-top: 15px;
            color: rgba(255, 255, 255, 0.75);
            font-size: 12px;
            line-height: 14px;
        }
    }
    &-watches {
        font-size: 14px;
        line-height: 16px;
    }
}

.contacts {
    &-list {
        margin-top: 0;
    }
}

.footer-span {
    font-family: Playfair Display, serif;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 16 / 12 * 100%;
    font-weight: 400;
    color: $mainColor;
}
